<div class="row medium-gap">
  <div class="col-md-4 col-md-push-8">
    <gi-order-summary></gi-order-summary>
  </div>
  <div class="col-md-8 col-md-pull-4">
    <gi-customer-form item="cart.customerInfo" model="model" stage="{{stage}}-1"><gi-customer-form>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div ng-form name="addressForm" class="form well">
        <div ng-if="cart.needsShipping()" class="col-md-12">
          <div class="form-group">
            <div class="checkbox checkbox-success checkbox-circle">
              <input type="checkbox" ng-model="cart.differentShipping">
              <label>Ship to different address?  </label>
            </div>
          </div>
        </div>
        <gi-address-form-fields item="cart.billingAddress"
                         model="model"
                         title="Please enter your billing address"
                         prefix="billing">
        </gi-address-form-fields>

        <div ng-if="cart.differentShipping">
          <gi-address-form-fields item="cart.shippingAddress"
                           model="model"
                           title="Please enter your shipping address"
                           prefix="shipping">
          </gi-address-form-fields>
        </div>
      </div>
    </div>
  </div>
</div>
