<legend>{{title}}</legend>
<div class="form-group"
     ng-class="{
       'has-error': isPropertyValidationError('{{prefix}}-line1'),
       'has-success': isPropertyValidationSuccess('{{prefix}}-line1')}">
  <label class="control-label">Address Line 1:</label>
  <input type="text"
         class="form-control"
         name="{{prefix}}-line1"
         ng-model="item.line1"
         required tabindex="3"/>
   <p class="control-label" ng-show="isPropertyValidationError('{{prefix}}-line1')">
     Required
   </p>
</div>
<div class="form-group" >
  <label class="control-label">Address Line 2:</label>
  <input type="text"
         class="form-control"
         name="{{prefix}}-line2"
         ng-model="item.line2" tabindex="4"/>
</div>
<div class="form-group" ng-if="options.showPhone()"
     ng-class="{
       'has-error': isPropertyValidationError('{{prefix}}-phone'),
       'has-success': isPropertyValidationSuccess('{{prefix}}-phone')}">
  <label class="control-label">Phone Number (for Delivery Courier):</label>
  <input type="text"
      class="form-control"
      name="{{prefix}}-phone"
      ng-model="item.phone"
      required tabindex="{{options.tabIndex}}"/>
  <p class="control-label" ng-show="isPropertyValidationError('{{prefix}}-phone')">
   Required
  </p>
</div>
<div class="form-group"
     ng-class="{
       'has-error': isPropertyValidationError('{{prefix}}-city'),
       'has-success': isPropertyValidationSuccess('{{prefix}}-city')}">
  <label class="control-label">City:</label>
  <input type="text"
         class="form-control"
         name="{{prefix}}-city"
         ng-model="item.city"
         required tabindex="5"/>
   <p class="control-label" ng-show="isPropertyValidationError('{{prefix}}-city')">
     Required
   </p>
</div>
<div class="form-group"
     ng-class="{
       'has-error': isPropertyValidationError('{{prefix}}-state'),
       'has-success': isPropertyValidationSuccess('{{prefix}}-state')}">
  <label class="control-label">State:</label>
  <input type="text"
         class="form-control"
         name="{{prefix}}-state"
         ng-model="item.state"
         required tabindex="6"/>
   <p class="control-label" ng-show="isPropertyValidationError('{{prefix}}-state')">
      Required
   </p>
</div>
<div class="form-group"
     ng-class="{
       'has-error': isPropertyValidationError('{{prefix}}-code'),
       'has-success': isPropertyValidationSuccess('{{prefix}}-code')}">
  <label class="control-label">Post / Zip Code:</label>
  <input type="text"
         class="form-control"
         name="{{prefix}}-code"
         ng-model="item.code"
         required tabindex="7"/>
   <p class="control-label" ng-show="isPropertyValidationError('{{prefix}}-code')">
      Required
   </p>
</div>
<div class="form-group">
  <label class="control-label">Country:</label>
  <ui-select tabindex="8" ng-model="item.country">
    <ui-select-match>{{$select.selected.name}}</ui-select-match>
    <ui-select-choices repeat="t.code as t in model.countries  | filter: $select.search">
      <div ng-bind-html="t.name | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>
</div>
