<div class="container gi-cart">
  <gi-cart-stage model="model"></gi-cart-stage>
  <div class="small-gap">
    <gi-cart ng-if="cart.getStage() == 1" model="model" stage="1"></gi-cart>
    <gi-customer-info ng-if="cart.getStage() == 2" model="model" stage="2">
    </gi-customer-info>
    <div ng-if="cart.getStage() == 3" >
      <div class="row">
        <div class="col-md-4 col-md-push-8">
          <gi-order-summary></gi-order-summary>
        </div>
        <div class="col-md-8 col-md-pull-4">
          <gi-payment-info stage="3"></gi-payment-info>
        </div>
      </div>
    </div>
    <div ng-if="cart.getStage() == 4">
      <gi-payment-thanks></gi-payment-thanks>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <div ng-if="cart.getStage() == 1" class="btn btn-primary btn-continue-shopping"
           ng-click="cart.continueShopping()" gi-enter="cart.continueShopping()">Continue Shopping</div>
      <div ng-if="cart.getStage() > 1" class="btn btn-primary"
           ng-click="cart.prevStage()" gi-enter="cart.prevStage()" ng-disabled="inPayment">Back</div>
    </div>
    <div class="col-xs-6">
      <div class="pull-right">
        <div ng-if="cart.getStage() < 3" class="btn btn-primary btn-cart btn-next"
             ng-click="cart.checkAccount()"
             ng-disabled="cart.isStageInvalid(cart.getStage())"
            tabindex="9" gi-enter="{{ cart.isStageInvalid(cart.getStage()) ? '' : 'cart.checkAccount()'}}">Next</div>
        <div ng-if="cart.getStage() == 3" class="btn btn-primary btn-cart pay-now"
             tabindex="9" ng-click="payNow()" gi-enter="payNow()" ng-disabled="cart.isStageInvalid(cart.getStage())">Pay Now</div>
      </div>
    </div>
  </div>
  <div class="row medium-gap">
  </div>
</div>
